@media screen and (min-width: 640px) {

    #container {
      margin: 0 auto;
      width: 100%;
      background-color: #fff;
    }
      
    #header {
      background: #ccc;
      padding: 20px;
    }
      
    #header h1 {
      margin: 0;
    }
      
    #navigation {
      float: left;
      width: 100%;
      background: #333;
    }
      
    #navigation ul {
      margin: 0;
      padding: 0;
    }
      
    #navigation ul li {
      list-style-type: none;
      display: inline;
    }
      
    #navigation li a {
      display: block;
      float: left;
      padding: 5px 10px;
      color: #fff;
      text-decoration: none;
      border-right: 1px solid #fff;
    }
      
    #navigation li a:hover {
      background: #383;
    }
      
    #content-container {
      float: left;
      width: 100%;
      background: #FFF;
    }
      
    #content {
      clear: left;
      float: left;
      width: 60%;
      padding: 20px 0;
      margin: 0 0 0 4%;
      display: inline;
    }
      
    #content h2 {
      margin: 0;
    }
      
    #aside {
      float: right;
      width: 33%;
      padding: 20px 0;
      margin: 0 3% 0 0;
      display: inline;
    }
      
    #aside h3 {
      margin: 0;
    }
      
    #footer {
      clear: left;
      background: #ccc;
      text-align: right;
      padding: 20px;
      height: 1%;
    }
    
@media print {
      #header {
        display: none;
      }
    
      #navigation {
        display: none;
      }
    
      #footer {
        display: none;
      }
    
      #container {
        margin: 0 auto;
        width: 100%;
        background: #fff;
      }
      
      #content-container {
        float: left;
        width: 100%;
        background: #FFF;
      }
          
      #content {
        clear: left;
        float: left;
        width: 60%;
        padding: 20px 0;
        margin: 0 0 0 4%;
        display: inline;
      }
          
      #content h2 {
        margin: 0;
      }
          
      #aside {
        width: 33%;
        padding: 20px 0;
        margin: 0 3% 0 0;
        display: block;
      }
          
      #aside h3 {
        margin: 0;
      }
    }
}

@media screen and (min-width: 240px) and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }

    #container {
        width: 320px;
        background: #fff;
      }
        
      #header {
        background: #ccc;
        padding: 20px;
        width: 100%;
        top: 0px;
        position: fixed;
      }
        
      #header h1 {
        margin: 0;
      }
        
      #navigation {
        width: 100%;
        margin: 86px 8px 0 8px;
        background-color: #333;
      }
        
      #navigation ul li {
        list-style-type: none;
        line-height: 1.5em;
      }
        
      #navigation li a {
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
      }

      #content-container {
        width: 100%;
        background: #FFF;
      }
        
      #content {
        width: 60%;
        padding: 20px 0;
        margin: 0 0 0 4%;
      }

      img {
          max-width: 300px;
          margin: 0;
          padding: 0;
      }

      #content p {
          text-align: left;
          width: 300px; 
          margin: 12pt 0;
      }
        
      #content h2 {
        margin: 0;
      }
        
      #aside {
        display: none;
      }

      #footer {
        background: #ccc;
        text-align: center;
        padding: 20px;
        height: 1%;
        width: 100%;
      }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
    }

    #container {
        width: 639px;
        background: #fff;
      }
        
      #header {
        background: #ccc;
        padding: 20px;
        width: 100%;
        top: 0px;
        position: fixed;
      }
        
      #header h1 {
        margin: 0;
      }
        
      #navigation {
        width: 100%;
        margin: 86px 8px 0 8px;
        background-color: #333;
      }
        
      #navigation ul li {
        list-style-type: none;
        line-height: 1.5em;
      }
        
      #navigation li a {
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
      }

      #content-container {
        width: 100%;
        background: #FFF;
      }
        
      #content {
        width: 60%;
        padding: 20px 0;
        margin: 0 0 0 4%;
      }

      img {
          max-width: 600px;
          margin: 0;
          padding: 0;
      }

      #content p {
          text-align: left;
          width: 580px; 
          margin: 12pt 0;
      }
        
      #content h2 {
        margin: 0;
      }
        
      #aside {
        display: none;
      }

      #footer {
        background: #ccc;
        text-align: center;
        padding: 20px;
        height: 1%;
        width: 100%;
      }
}
